.main_body {
  background: rgba(150, 225, 250, 0.65);
  font-family: Nunito;
  color: black;
  margin: 0px 50px 0px 50px;
  background-size: cover;
  background-size: 100% 100%;
}

h2 {
  text-align: center;
}

p {
  /* width: 600px; */
  font-size: 20px;
}

h3 {
  font-size: 30px;
  text-align: auto;
}
.paragraph {
  padding: 10px;
  text-align: center;
  font-family: Nunito;
/*   font-size: */
/*   colour: */
}


/* .first {
  position: relative;
  top: 0px;
  left: 80px;
}
.second{
  position: relative;
  top: 30px;
  right:100px;
}

.third{
  position: relative;
  top: 50px;
  left: 100px;
} */
.first img{
	/* position: absolute; */
	/* bottom: 1000px; */
	/* left:700px; */
  /* height: 200px;
  width:300px; */
}

.second img{
  /* position: absolute; */
	/* top: 40px; */
	/* right: 70px; */
  /* height: 200px;
  width:300px; */
}
.third img{
  /* position: absolute; */
	/* bottom: 10px; */
	/* left: 700px; */
  /* height: 200px;
  width:300px; */
}
