.main_body {
  background: rgba(150, 225, 250, 0.65);
  font-family: Nunito;
  color: black;
  margin: 0px 50px 0px 50px;
  background-size: cover;
  background-size: 100% 100%;
  padding: 50px 50px 50px 50px;
}
body {
  /* margin: 20px; */
  background-image: url("../Images/mountains-background.jpg");
  height:100%;
  font-family: Nunito;
}

.header {
  background: rgba(0, 0, 0, 0);
  font-family: Nunito;
  color: white;
  margin: 0 0 0 0;
  padding: 10px;
  text-align: center;
}

hr {
  padding: 0;
  text-align: center;
}

.jumbotron {
  margin: 0px;
}

.jumbotron h1 {
  font-size: 80px;
  margin: 5px 0 5px 0;
  padding: 10px 0 10px 0;
}

.navigation {
  background: rgba(0, 0, 0, 0);
  padding: 0px;
}

.nav-item {
  display: inline-block;
  margin: 15px 0px 15px 0px;
  padding: 5px 0 0 0;
}

.nav-item a {
  text-decoration: none;
  font-family: Nunito;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

h2 {
  padding: 0 0 0 0;
  font-family: Nunito;
  font-size: 40px;
  colour: black;
  text-align: center;
}

/* This is the end of our consistent template */
/* mental health css */

.mental_health_image img {
  margin: 0px 0px 0px 0px;
  position: relative;
    top: 25px;
}

h3 {
  font-size: 25px;
  text-align: auto;
}
.paragraph {
  padding: 10px;
  text-align: center;
/*   font-family: */
/*   font-size: */
/*   colour: */
}

.first_paragraph p {
  font-size: 25px;
}

ul {
  list-style-image: url("../Images/brain-point.svg");
}

li {
  font-size: 15px;
}

li span {
  font-size: 15px;
}

.centred_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Support_Services p {
  font-size: 15px;
}

.Revision_tips p {
  font-size: 15px;
}

/* selfcare css */

p {
  /* width: 600px; */
  font-size: 20px;
}


.paragraph {
  padding: 10px;
  text-align: center;
  font-family: Nunito;
/*   font-size: */
/*   colour: */
}


.first {
  position: relative;
}
.second{
  position: relative;
}
.third{
  position: relative;

}
.first img{
	position: relative;
  display: block;
}

.second img{
  position: relative;
  display: block;
}
.third img{
  position: relative;
  display: block;
}

/* recipe css */

.nav a {
  background: red;
  font: white;
}

.color-info {
  border:1px solid:#000;
}

.important {
  font-size: 16px;
  font-weight: bold;
}

#about_blue {
  background-color: #6495ed;
}

#about_blue ul li {
  color: blue;
}

/* #about_yellow { */
  /* background-color: #FFEBCD; */
/* } */

/* #about_yellow ul li { */
  /* color: orange; */
/* } */
